@font-face {
			font-family: "FregatRegular";
			src: url("../fonts/FregatRegular/FregatRegular.eot");
			src: url("../fonts/FregatRegular/FregatRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/FregatRegular/FregatRegular.woff") format("woff"),
			url("../fonts/FregatRegular/FregatRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "FregatRegular"; /*font-family: "FregatBold";*/
			src: url("../fonts/FregatBold/FregatBold.eot");
			src: url("../fonts/FregatBold/FregatBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/FregatBold/FregatBold.woff") format("woff"),
			url("../fonts/FregatBold/FregatBold.ttf") format("truetype");
			font-style: normal;
			font-weight: 700;
	}

	@font-face {
			font-family: "FregatRegular";  /*font-family: "FregatItalic";*/
			src: url("../fonts/FregatItalic/FregatItalic.eot");
			src: url("../fonts/FregatItalic/FregatItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/FregatItalic/FregatItalic.woff") format("woff"),
			url("../fonts/FregatItalic/FregatItalic.ttf") format("truetype");
			font-style: italic;
			font-weight: normal;
	}

	@font-face {
			font-family: "FregatRegular";/*font-family: "FregatBoldItalic";*/
			src: url("../fonts/FregatBoldItalic/FregatBoldItalic.eot");
			src: url("../fonts/FregatBoldItalic/FregatBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/FregatBoldItalic/FregatBoldItalic.woff") format("woff"),
			url("../fonts/FregatBoldItalic/FregatBoldItalic.ttf") format("truetype");
			font-style: italic;
			font-weight: 700;
	}

	@font-face {
		font-family: "untitled-font-1";
		src:url("../fonts/untitled-font-1.eot");
		src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
		url("../fonts/untitled-font-1.woff") format("woff"),
		url("../fonts/untitled-font-1.ttf") format("truetype"),
		url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "untitled-font-11";
		src:url("../fonts/untitled-font-11.eot");
		src:url("../fonts/untitled-font-11.eot?#iefix") format("embedded-opentype"),
		url("../fonts/untitled-font-11.woff") format("woff"),
		url("../fonts/untitled-font-11.ttf") format("truetype"),
		url("../fonts/untitled-font-11.svg#untitled-font-11") format("svg");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "untitled-font-14";
		src:url("../fonts/untitled-font-14.eot");
		src:url("../fonts/untitled-font-14.eot?#iefix") format("embedded-opentype"),
		url("../fonts/untitled-font-14.woff") format("woff"),
		url("../fonts/untitled-font-14.ttf") format("truetype"),
		url("../fonts/untitled-font-14.svg#untitled-font-14") format("svg");
		font-weight: normal;
		font-style: normal;

	}
