.page__content {
    position: relative;
    height: 100%;
    background: #ffffff;
}

.page__wrapper {
    min-width: 320px;
    min-height: 100%;
    margin-bottom: -100px;
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 100px;
}

.page__main {
    min-width: 320px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.header .navbar-form {
    margin-top: 18px;
    margin-right: 20px;
}

.header .navbar-brand {
    margin-top: 4px;
    margin-right: 20px;
}

.header .btn,
.header .btn:hover,
.header .btn:active {
    height: 28px;
    padding: 2px 8px;
    border-left: 1px solid #888888;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #ffffff;
}

.header .btn .glyphicon {
    color: #000000;
}

.header input[type="text"],
.header input[type="text"]:hover,
.header input[type="text"]:focus {
    height: 28px;
    padding: 2px 10px;
    border: none;
    border-radius: 0;
}

.footer {
    height: 100px;
    padding: 20px 0;
    color: #ffffff;
    background-color: #0074d9;
    background-color: #3e3f3a;
}

.sidebar {
    padding: 10px;
    border: 2px solid #e0e0e0;
}

.get-back,
.get-back:hover,
.get-back:active,
.get-back:visited {
    display: block;
    display: inline-block;
    margin: 20px 0;
    padding: 10px;
    color: #0074d9;
}

.get-back:before,
.get-back:hover:before,
.get-back:active:before,
.get-back:visited:before {
    display: inline-block;
    padding-right: 8px;
    content: "← ";
}

.news-list__item {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.news-list__item:before,
.news-list__item:after {
    display: table;
    content: "";
}

.news-list__item:after {
    clear: both;
}

.news-list__item:last-child {
    border-bottom: none;
}

.news-list__left {
    display: inline-block;
    float: left;
    width: 20%;
}

.news-list__right {
    display: inline-block;
    float: left;
    width: 78%;
    margin-left: 2%;
}

.news-list__image {
    position: relative;
    height: 100px;
}

.news-list__image img {
    width: 100%;
}

.news-list__top:before,
.news-list__top:after {
    display: table;
    content: "";
}

.news-list__top:after {
    clear: both;
}

.news-list__title {
    display: inline;
    float: left;
    margin: 0;
    margin-bottom: 8px;
    font-size: 18px;
}

.news-list__date {
    display: inline;
    float: right;
    margin-bottom: 8px;
    color: #aaaaaa;
    font-size: 12px;
}

.news-list__content {
    margin-bottom: 10px;
}

.news-list__link,
.news-list__link:hover,
.news-list__link:active,
.news-list__link:visited {
    color: #0074d9;
}

.news-full__photo {
    position: relative;
    overflow: hidden;
    height: 400px;
    margin-bottom: 15px;
}

.news-full__photo img {
    width: 100%;
}

.news-full__date {
    margin-bottom: 8px;
    color: #aaaaaa;
    font-size: 12px;
}

.news-full__main {
    margin: 10px 0;
}

.news-full__gallery {
    margin: 40px 0 20px;
}

.news-widget__title-main {
    margin-bottom: 5px;
    font-size: 20px;
}

.news-widget__item {
    margin-bottom: 4px;
    padding: 8px 0;
    border-bottom: 1px solid #eeeeee;
}

.news-widget__item:last-child {
    border-bottom: none;
}

.news-widget__title {
    margin: 0;
    margin-bottom: 10px;
    color: #555555;
    font-size: 15px;
}

.news-widget__content {
    margin-bottom: 5px;
    font-size: 13px;
}

.news-widget__content p {
    margin: 0;
}

.news-widget__link,
.news-widget__link:hover,
.news-widget__link:active,
.news-widget__link:visited {
    color: #0074d9;
}

.gallery-list:before,
.gallery-list:after {
    display: table;
    content: "";
}

.gallery-list:after {
    clear: both;
}

.gallery-list__item {
    display: inline-block;
    float: left;
    width: 31.33%;
    margin: 0 1%;
    margin-bottom: 20px;
}

.gallery-list__thumbnail {
    position: relative;
    height: 240px;
}

.gallery-list__thumbnail img {
    width: 100%;
}

.gallery-list__title {
    margin: 12px 0 9px;
    padding: 0 4px;
    font-size: 24px;
}

.gallery-list__link,
.gallery-list__link:hover,
.gallery-list__link:active,
.gallery-list__link:visited {
    display: inline-block;
    color: #0074d9;
}

.gallery-list__date {
    text-align: right;
    color: #aaaaaa;
    font-size: 12px;
}

.gallery-list__loading-message {
    color: #0074d9;
    font-size: 20px;
}

.gallery-full__loading-message {
    color: #0074d9;
    font-size: 20px;
}

.gallery-full__top {
    margin-bottom: 20px;
}

.gallery-full__date {
    color: #999999;
}

.gallery-full__list:before,
.gallery-full__list:after {
    display: table;
    content: "";
}

.gallery-full__list:after {
    clear: both;
}

.gallery-full__item {
    display: inline-block;
    float: left;
    width: 24%;
    margin: 0 0.5% 10px;
}

.gallery-full__image img {
    width: 100%;
}

.gallery-block:before,
.gallery-block:after {
    display: table;
    content: "";
}

.gallery-block:after {
    clear: both;
}

.gallery-block__item {
    display: inline-block;
    float: left;
    width: 23%;
    margin: 0 1%;
    margin-bottom: 20px;
}

.gallery-block__image {
    position: relative;
    height: 200px;
}

.gallery-block__image img {
    width: 100%;
}

.feedback__title {
    margin-bottom: 15px;
    font-size: 23px;
}

.feedback__item {
    margin-bottom: 20px;
}

.feedback__text {
    margin-bottom: 3px;
}

.feedback__map iframe {
    width: 100%;
    height: 368px;
}

.feedback__label {
    display: block;
    margin-bottom: 8px;
    color: #555555;
    font-weight: normal;
}

.feedback__error {
    margin-top: 5px;
    color: #ff4136;
    font-size: 13px;
}

.feedback__error-large {
    margin: 10px 0;
    color: #ff4136;
    font-size: 15px;
}

.feedback__button {
    width: 200px;
    max-width: 100%;
}

.captcha:before,
.captcha:after {
    display: table;
    content: "";
}

.captcha:after {
    clear: both;
}

.captcha__left {
    display: inline-block;
    float: left;
    width: 29%;
    margin-right: 1%;
}

.captcha__right {
    display: inline-block;
    float: left;
    width: 70%;
}

.captcha__image img {
    max-width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
textarea {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #888888;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus {
    border: 1px solid #3e3f3a;
}

input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
input[type="tel"].error,
input[type="search"].error,
input[type="url"].error,
textarea.error {
    border: 1px solid #ff4136;
}

textarea {
    height: auto;
    min-height: 120px;
}

@media only screen and (max-width: 991px) {
    .header .navbar-form {
        margin-right: -15px;
        padding-right: 0;
    }

    .gallery-full__item {
        width: 31.33%;
    }

    .gallery-block__item {
        width: 31.33%;
    }
}

@media only screen and (max-width: 767px) {
    .header .navbar-form {
        margin-right: 0;
        padding-top: 12px;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 766px) {
    .sidebar {
        display: none;
    }

    .news-list__left {
        display: block;
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }

    .news-list__right {
        display: block;
        float: none;
        width: 100%;
        margin-left: 0;
    }

    .news-list__image {
        height: 150px;
    }

    .news-list__title {
        display: block;
        float: none;
        width: 100%;
        margin-bottom: 8px;
    }

    .news-list__date {
        display: block;
        float: none;
        width: 100%;
    }

    .news-full__photo {
        height: 200px;
    }

    .gallery-list__item {
        display: block;
        float: none;
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }

    .gallery-full__item {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .gallery-block__item {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .feedback__button {
        width: 100%;
    }

    .captcha__left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .captcha__right {
        width: 100%;
    }
}

#map{
    height: 450px;
}

.affiliates a{
    display: inline-block;
    color: #ffffff;
    background: #3e3f3a;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.affiliates_item{
    border-top: 1px solid #c9cccf;
    margin: 10px 0;
}

.affiliates_item h1{
    display: inline-block;
    width: 25%;
}

.affiliates_item_info {
    display: inline-block;
    text-align: right;
    width: 74%;
    margin: 10px 0;
}

.top_auth {
    float: right;
    margin-left: 40px;
    color: #98978b;
}

.top_auth a {
    padding-top: 20px;
    display: inline-block;
    color: #98978b;
    font-size: 11px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.top_auth p {
    padding-top: 20px;
    display: inline-block;
    color: #98978b;
    font-size: 11px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.form-group .captcha-label {
    padding-top: 5px;
}


