html {
	-webkit-font-smoothing: antialiased;
}

.clear {
	clear: both;
}


h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	font-weight: normal;
	line-height: 1;
	color: #fff;
	font-size: 65%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	word-wrap: break-word;
	color: #8a8585;
}

h1 {
	font-size: 36px;
	line-height: 44px;
	margin: 0 0 5px 0;
}

h2 {
	font-size: 32px;
	line-height: 38px;
	margin: 0 0 8px 0;
}

h3 {
	font-size: 28px;
	line-height: 32px;
	margin: 0 0 9px 0;
}

h4 {
	font-size: 22px;
	line-height: 27px;
	margin: 0 0 6px 0;
}

h5 {
	font-size: 19px;
	line-height: 26px;
	margin: 0 0 4px 0;
}

h6 {
	font-size: 17px;
	line-height: 26px;
	margin: 0 0 0 0;
}

p {
	line-height: 25px;
	padding: 0 0 15px 0;
}

a {
	color: #fff;
}

a,
a:visited {
	text-decoration: underline;
	-webkit-transition: color 0.2s ease 0s;
	transition: color 0.2s ease 0s;
	outline: none;
}

a:visited {
	outline: none;
}

a:hover,
a:focus {
	color: #8a8585;
	text-decoration: none;
	outline: none;
}

a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	outline: none;
}

pre {
	background: #ccc;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 20px;
}

pre,
code {
	color: #fff;
	font-family: "Consolas", "Courier New", "Nimbus Mono L", monospace;
	font-size: 12px;
	overflow: hidden;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	line-height: 20px;
}

q {
	quotes: "«" "»";
	font-style: italic;
}

q q {
	quotes: "„" "“";
	font-style: italic;
}

blockquote {
	font-style: italic;
	text-align: left;
	border-left: 3px solid #e0e2e3;
	padding: 0 0 0 14px;
	margin-bottom: 40px;
	color: #262626;
	font-size: 19px;
}

blockquote q {
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0;
}

blockquote p {
	color: #8a8585;
	padding-bottom: 0;
	font-size: 19px;
}

blockquote cite {
	color: #666d71;
	font-size: 12px;
}

abbr {
	border-bottom: thin dashed;
	cursor: help;
	font-style: italic;
	font-weight: normal;
}

i {
	font-style: oblique;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0 20px 0;
	margin-top: 9px;
	overflow-y:auto;
	display: block;
}

table caption {
	color: #8a8585;
	padding: 0;
	text-align: left;
}

th,
td {
	font-size: 16px;
	text-align: left;
	padding: 15px 16px 14px 16px;
	font-weight: normal;
}

th {
	font-size: 16px;
	padding: 15px 16px 14px 16px;
}

td {
	font-weight: normal;
	border-bottom: 1px solid #8a8585;;
	vertical-align: top;
}

thead,
tfoot  th  {
	color: #fff;
	font-weight: normal;
	background: #8a8585;
	border-bottom: none;
}

tfoot tr td  {
	color: #fff;
	font-weight: normal;
	background: #8a8585;
	border-bottom: none;
}

thead tr td  {
	color: #fff;
	font-weight: normal;
	background: #8a8585;
	border-bottom: none;
}

img {
	border: 0;
}

hr {
	background: #ccc;
	height: 1px;
}

dl {
	padding: 0 0 13px 0;
}

dt {
	font-size: 16px;
	font-weight: normal;
	padding: 0 0 7px 0;
}

dd {
	font-size: 16px;
	font-style: normal;
	padding: 0 0 25px 0;
}

ul{
	margin-bottom: 30px;
	margin-left: 13px;
	margin: 0 0 30px 13px;
}

ul li{
	margin-bottom: 10px;
	line-height: 22px;
}

ol{
	margin-bottom: 30px;
}

ul ul,
ol ul,
ul ol,
ol ol {
	margin-bottom: 0;
}

ul li {
	line-height: 22px;
	list-style-image: url('../img/bullet-icon.png');
	list-style-position: outside;
	padding-left: 10px;
}

ul ul {
	padding-left: 26px;
	margin: 13px 0 0 0;
}

ul ul ul{
	padding-left: 30px;
}

ol ol {
	list-style-type: lower-alpha;
}

ol ol ol {
	list-style-type: decimal;
}

/**********************************
	стилизация списка
	**********************************/

ol{
	margin-bottom: 30px;
	counter-reset: item; 
	margin-top: 15px;
}

ol li{
	position: relative;
	line-height: 22px;
	padding-bottom: 10px;
	display: block;
	list-style-position: outside;
	padding-left: 25px;
	margin-top: 10px;
}

ol li:before {
	content: counter(item) "";
	counter-increment: item;
	color: #fff;
	position: absolute;
	left: -9px;
	top: 0;
	border-radius: 50%;
	background: #8a8585;
	line-height: 25px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	font-size: 12px;
	text-align: center;
}





